<ion-header>
  <ion-toolbar>
    <ion-title>Completar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitForm()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información del Padre o Madre</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="parent.nombre" name="nombrePadre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="parent.apellido" name="apellidoPadre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Parentesco</ion-label>
          <ion-input type="text" [(ngModel)]="parent.parentesco" name="parentescoPadre"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Información del Niño</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="child.nombre" name="nombreHijo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="child.apellido" name="apellidoHijo"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" type="submit">Continuar</ion-button>
  </form>
</ion-content>
