<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <img src="assets/img/Logo.png" alt="Logo TEA" style="height: 30px;">
    </ion-buttons>
    <ion-title>Feedback</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Pregunta principal -->
  <div class="main-question">
    <img src="assets/img/NCole.jpg" alt="Background image" class="background-image">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>¿Cómo fue el día de mi hijo?</h2>
    <p><em>Complete and detailed feedback</em></p>
    <br>
  </div>

  <!-- Sección de Resumen -->
  <div class="section">
    <h3>RESUMEN</h3>
    <p>Flight needs two web sites to promote both the magazine and sponsored events. An Internet Presence...</p>
  </div>

  <!-- Sección de Qué se repitió -->
  <div class="section">
    <h3>QUE SE REPITIÓ</h3>
    <p>Impact reports cater to a variety of audiences, so it’s best to adjust them accordingly...</p>
    <div class="emojis">
      <ion-icon name="happy-outline" size="large"></ion-icon>
      <ion-icon name="sad-outline" size="large"></ion-icon>
    </div>
  </div>

  <!-- Preguntas frecuentes -->
  <div class="section">
    <h3>¿CÓMO FUE SU DÍA?</h3>
    <div class="question">
      <div class="number">1</div>
      <p>Preguntas frecuente</p>
    </div>
    <div class="question">
      <div class="number">2</div>
      <p>Qué frase motivacional uso más</p>
    </div>
    <div class="question">
      <div class="number">3</div>
      <p>Cuánto tiempo estuvo conectado</p>
    </div>
  </div>

</ion-content>

  <!-- Barra de navegación inferior -->
  <ion-footer>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="schedule">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>Agendar cita</ion-label>
        </ion-tab-button>
  
        <ion-tab-button tab="courses">
          <ion-icon name="book-outline"></ion-icon>
          <ion-label>Cursos</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-footer>
