<ion-header>
  <ion-toolbar>
    <ion-title>Crear Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="crearUsuario()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="usuario.nombre" name="nombre" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input [(ngModel)]="usuario.edad" name="edad" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Celular</ion-label>
      <ion-input [(ngModel)]="usuario.celular" name="celular" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Parentesco</ion-label>
      <ion-input [(ngModel)]="usuario.parentesco" name="parentesco"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario.usuario" name="usuario" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="usuario.contrasena" name="contrasena" type="password" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Crear Usuario</ion-button>
  </form>
</ion-content>
