<ion-content class="login-content">
  <div class="header-background"></div>
  <div class="login-container">
    <img src="assets/img/Logo.png" alt="Character" class="character-image" />
    <h2>Welcome back!</h2>
  </div>  

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password" required minlength="6"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="login()">Iniciar Sesión</ion-button>
  <ion-button expand="full" fill="outline" routerLink="/registrarse">Registrarse</ion-button>

</ion-content>


