<ion-content class="ion-padding page-background">
  <div class="container">
    <h1 class="welcome-title">BIENVENIDO A TEACOMPAÑO</h1>
    <p class="subtitle">te acompañamos durante tu camino de aprendizaje</p>
    
    <ion-button expand="block" class="button-style padres-button" (click)="navigateToLoginPadres()">PADRES</ion-button>
    <ion-button expand="block" class="button-style ninos-button" (click)="navigateToLoginNinos()">Niños</ion-button>

    
    <div class="character-container">
      <img src="assets/img/Monstruo.png" alt="character" class="character-image" />
    </div>

    

  </div>

  
</ion-content>


