<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center-text">Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid class="center-content">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-md="6" size-sm="12" class="form-container">
        <ion-card>
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          
          <ion-card-header>
            <ion-card-title>Que es el TEA?</ion-card-title>
            <ion-card-subtitle>Curso de introducción</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum itaque ullam facilis? Inventore a accusantium hic animi, sunt culpa molestiae voluptate aut unde modi voluptates nesciunt deserunt, voluptatibus nobis dolores?
          </ion-card-content>

          <!-- Botón Unirse -->
          <ion-item lines="none">
            <ion-button expand="block" color="primary" slot="end">Unirse</ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
