<ion-content class="cursos-content">
  <!-- Encabezado con título y logo -->
  <div class="header">
    <img src="assets/img/Logo.png" alt="TEA Logo" class="logo" />
    <h2>Cursos</h2>
    <ion-icon name="notifications-outline" class="icon"></ion-icon>
    <ion-icon name="settings-outline" class="icon"></ion-icon>
  </div>

  <!-- Sección de Cursos Activos -->
  <div class="section">
    <h4>Tus cursos activos:</h4>
    <div class="course-card">
      <h5>¿Qué es el TEA?</h5>
      <p>26 Feb 2024 - 26 Feb 2024</p>
      <p>Lorem ipsum nappertnometer reskade när dekakäling kötoss...</p>
      <ion-button color="danger" class="status-button" fill="solid">Pending</ion-button>
    </div>
  </div>

  <!-- Sección de Nuevos Cursos -->
  <div class="section">
    <h4>Nuevos cursos :</h4>
    <div class="course-card">
      <h5>Signos y síntomas del TEA</h5>
      <p>14 Nov 2024 - 26 Nov 2024</p>
      <p>Lorem ipsum nebaligt benyda diapgät rösm al. Pepulig vabenat.</p>
      <ion-button color="success" class="join-button" fill="solid">Unirte</ion-button>
    </div>
    <div class="course-card">
      <h5>¿Cómo puedo ayudar a mi hijo?</h5>
      <p> 15 Dic 2024 - 26 Dic 2024</p>
      <p>Lorem ipsum nebaligt benyda diapgät rösm al. Pepulig vabenat.</p>
      <ion-button color="success" class="join-button" fill="solid">Unirte</ion-button>
    </div>
    <div class="course-card">
      <h5>¿Tratamientos?</h5>
      <p>26 Dic 2024 - 28 Dic 2024</p>
      <p>Lorem ipsum nebaligt benyda diapgät rösm al. Pepulig vabenat.</p>
      <ion-button color="success" class="join-button" fill="solid">Unirte</ion-button>
    </div>
    <div class="course-card">
      <h5>Entre la esperanza </h5>
      <p>26 Feb 2024 - 26 Feb 2024</p>
      <p>Lorem ipsum nebaligt benyda diapgät rösm al. Pepulig vabenat.</p>
      <ion-button color="success" class="join-button" fill="solid">Unirte</ion-button>
    </div>
    <div class="course-card">
      <h5>Terapia y su importancia</h5>
      <p>14 Feb 2025 - 26 Feb 2025</p>
      <p>Lorem ipsum nebaligt benyda diapgät rösm al. Pepulig vabenat.</p>
      <ion-button color="success" class="join-button" fill="solid">Unirte</ion-button>
    </div>
    <div class="course-card">
      <h5>Cuidar al cuidador</h5>
      <p>26 Feb 2024 - 28 Feb 2025</p>
      <p>Personal Matter</p>
      <ion-button color="success" class="join-button" fill="solid">Unirte</ion-button>
    </div>
  </div>
</ion-content>

