<ion-header>
  <ion-toolbar>
    <ion-title>Familiares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of familiares">
      <ion-label>
        <h2>Nombre: {{ item.Nombre }}</h2>
        <p>Parentesco: {{ item.Parentesco }}</p>
        <p>Celular: {{ item.Celular }}</p>
        <p>Edad: {{ item.Edad }}</p>
        <p>ID: {{ item.ID }}</p>
        <p>Usuario: {{ item.Usuario }}</p>
        <p>Contrasena: {{ item.Contrasena }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
