<ion-content class="content">
  <div class="welcome-container">
    <h1>Hola Martin</h1>
    <h2>¿COMO TE PUEDO AYUDAR?</h2>
    <p>SOY LALA</p>
  </div>

  <div class="icons-container">
    <ion-button class="icon-button" (click)="navigateToChat()">
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-button>
    <ion-button class="icon-button" (click)="navigateToTareas()">
      <ion-icon name="document-text-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="character-container">
    <img src="assets/img/Monstruo.png" alt="Character" class="character-image" />
  </div>
</ion-content>
