<ion-content class="content">
  <div class="welcome-container">
    <h1>Hola Martin</h1>
    <h3>SOY LALA</h3>
  </div>
<hr>
  <div class="texto">
    <h2>Quieres hablar con migo </h2>
  </div>

  <div class="icons-container">

    <ion-button class="icon-button" (click)="navigateToChat()">
      <img src="assets/img/burbuja.png" alt="burbuja-chat" class="burbuja-chat" />
    </ion-button>
  </div>

  <div class="texto">
    <h2>Mira estás son tus tareas del día de hoy</h2>
  </div>

  <div class="icons-container">
    <ion-button class="icon-button" (click)="navigateToTareas()">
      <img src="assets/img/horario.png" alt="burbuja-chat" class="burbuja-chat" />
    </ion-button>
  </div>

  <div class="character-container">
    <img src="assets/img/Monstruo.png" alt="Character" class="character-image" />
  </div>

  <ion-button class="exit-button" color="danger" (click)="goToLogin()">
    <ion-icon name="log-out-outline"></ion-icon>
  </ion-button>
</ion-content>
