<ion-content class="content">
  <div class="header">
    <h1>¿Qué vamos a hacer hoy?</h1>
    <p>Jueves 2 DE ABRIL 2024</p>
    <img src="asserts/img/Monstruo.png" alt="Character" class="character-image" />
  </div>

  <div class="tasks-container">
    <ion-card class="task-card">
      <div class="task-info">
        <p>En la mañana 7:00 - 7:10</p>
        <h2>Despierta Martin !</h2>
      </div>
      <img src="path/to/wakeup.png" alt="Wake Up Icon" class="task-icon" />
    </ion-card>

    <ion-card class="task-card highlight">
      <div class="task-info">
        <p>En la mañana 7:10 - 7:20</p>
        <h2>Es hora de vestirse!</h2>
      </div>
      <img src="path/to/dressup.png" alt="Dress Up Icon" class="task-icon" />
    </ion-card>

    <ion-card class="task-card">
      <div class="task-info">
        <p>En la mañana 7:30 - 8:00</p>
        <h2>Hora de comer!</h2>
      </div>
      <img src="path/to/eat.png" alt="Eat Icon" class="task-icon" />
    </ion-card>
  </div>

  <div class="footer">
    <ion-icon name="home-outline" class="home-icon" (click)="navigateToInicio()"></ion-icon>
  </div>
  
</ion-content>
