<ion-content class="content">
  <div class="header">
    <h1>¿Qué vamos a hacer hoy?</h1>
    <p>{{ currentDate }}</p>
    <img src="assets/img/Monstruo.png" alt="Character" class="character-image" />
    <h3>Tus tareas:</h3>
  </div>

  <div class="tasks-container" *ngIf="tasks.length > 0; else noTasks">
    <ion-card *ngFor="let task of tasks" class="task-card">
      <div class="task-info">
        <p>{{ task.horario }}</p>
        <h2>{{ task.tarea }}</h2>
      </div>
      <img [src]="getTaskIcon(task)" alt="Task Icon" class="task-icon" />
    </ion-card>
  </div>

  <!-- Mostrar mensaje si no hay tareas -->
  <ng-template #noTasks>
    <div class="no-tasks">
      <p>No tienes tareas asignadas para hoy.</p>
    </div>
  </ng-template>

  <div class="footer">
    <ion-icon name="home-outline" class="home-icon" (click)="navigateToInicio()"></ion-icon>
  </div>
</ion-content>
